@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/* line 3, ../sass/_global.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/_global.scss */
div {
  position: relative;
}

/* line 12, ../sass/_global.scss */
input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 25em;
  border: none;
  border-radius: 0;
  background: none;
}

/* line 21, ../sass/_global.scss */
input[type="button"] {
  background: #eee;
}

/* line 24, ../sass/_global.scss */
h1, p {
  color: black;
}

/* line 27, ../sass/_global.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/_global.scss */
h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

/* line 35, ../sass/_global.scss */
a {
  text-decoration: none;
  color: blue;
}

/* line 39, ../sass/_global.scss */
a:visited, a:hover {
  color: red;
}

/* line 42, ../sass/_global.scss */
* {
  box-sizing: border-box;
}

/* line 45, ../sass/_global.scss */
.code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.75em;
  color: #ccc;
}

/* line 51, ../sass/_global.scss */
html, body, div, p, input, textarea, select, button {
  font-size: 15px;
  font-family: "Source Sans Pro", "Noto Sans CJK TC", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

/* line 57, ../sass/_global.scss */
a.button, input[type='submit'], button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: black;
  color: white;
  padding: 1em;
  border: none;
  cursor: pointer;
  outline: none;
}

/* line 67, ../sass/_global.scss */
a.button {
  display: inline-block;
}

/* line 71, ../sass/_global.scss */
textarea {
  line-height: 1.5em;
}

/* line 74, ../sass/_global.scss */
textarea.full {
  width: 100%;
  min-height: 5em;
}

/* line 78, ../sass/_global.scss */
textarea.large {
  min-height: 20em;
}

/* line 82, ../sass/_global.scss */
nav {
  padding: 1em;
  background: #eee;
  border-bottom: 6px solid black;
}

/* line 87, ../sass/_global.scss */
nav h1 {
  text-align: center;
}

/* line 90, ../sass/_global.scss */
nav h1 a {
  color: black !important;
}

/* line 3, ../sass/translate.scss */
textarea:focus {
  outline: none;
  background: blue;
  color: lime;
}

/* line 9, ../sass/translate.scss */
.cross {
  display: inline-block;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
/* line 17, ../sass/translate.scss */
.cross > rect {
  display: block;
  position: absolute;
  top: 50%;
  background: black;
}
/* line 23, ../sass/translate.scss */
.cross > rect:first-child {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  width: 3em;
  height: 0.3em;
}
/* line 29, ../sass/translate.scss */
.cross > rect:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  width: 3em;
  height: 0.3em;
}

/* line 38, ../sass/translate.scss */
#header {
  width: 100%;
  padding: 1em 1em 1em 4em;
  border-bottom: 3px solid black;
}
/* line 43, ../sass/translate.scss */
#header .language {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 1em;
  text-align: center;
}

/* line 51, ../sass/translate.scss */
.paragraph {
  width: 100%;
  padding: 1em 1em 1em 4em;
}
/* line 55, ../sass/translate.scss */
.paragraph > .cross {
  position: absolute;
  left: 0.5em;
  top: 1em;
}
/* line 61, ../sass/translate.scss */
.paragraph .translation {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 1em;
}
/* line 67, ../sass/translate.scss */
.paragraph .translation:last-of-type {
  margin: 0;
}
/* line 70, ../sass/translate.scss */
.paragraph .translation.saved {
  outline: 3px solid #00cc18;
}
/* line 73, ../sass/translate.scss */
.paragraph .translation.locked {
  background: #eee;
}
/* line 76, ../sass/translate.scss */
.paragraph .translation.locked textarea:not(:focus) {
  color: #ddd;
}

/* line 83, ../sass/translate.scss */
.paragraph:first-of-type textarea {
  font-size: 1.5em;
  font-weight: 700;
}

/* line 88, ../sass/translate.scss */
.paragraph:first-of-type + .paragraph {
  border-bottom: 3px dotted black;
}

/* line 92, ../sass/translate.scss */
.tail {
  text-align: center;
}
