@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
div {
	position: relative;
}
input, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	width: 25em;
	border: none;
	border-radius: 0;
	background: none;
}
input[type="button"] {
	background: #eee;
}
h1, p {
	color: black;
}
p {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2em;
	margin: 0.5em 0;
}
a {
	text-decoration: none;
	color: blue;
}
a:visited, a:hover {
	color: red;
}
* {
	box-sizing: border-box;
}
.code {
	font-family: "Source Code Pro", monospace;
	font-size: 0.75em;
	color: #ddd;
}

html, body, div, p, input, textarea, select, button {
	font-size: 15px;
	font-family: "Source Sans Pro", "Noto Sans CJK TC", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 300;
	line-height: 1.2em;
}
a.button, input[type='submit'], button {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: black;
	color: white;
	padding: 1em;
	border: none;
	cursor: pointer;
	outline: none;
}
a.button {
	display: inline-block;
}

textarea {
	line-height: 1.5em;
}
textarea.full {
	width: 100%;
	min-height: 5em;
}
textarea.large {
	min-height: 20em;
}

nav {
	padding: 1em;
	background: #eee;
	border-bottom: 6px solid black;
}
nav h1 {
	text-align: center;
}
nav h1 a {
	color: black !important;
}