@import 'global';

textarea:focus {
	outline: none;
	background: blue;
	color: lime;
}
$cross-size: 3em;
.cross {
	display: inline-block;

	$stroke-width: $cross-size/10;
	width: $cross-size;
	height: $cross-size;
	cursor: pointer;
	
	> rect {
		display: block;
		position: absolute;
		top: 50%;
		background: black;
	}
	> rect:first-child {
		-webkit-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
		width: $cross-size;
		height: $stroke-width;
	}
	> rect:last-child {
		-webkit-transform: translateY(-50%) rotate(-45deg);
		transform: translateY(-50%) rotate(-45deg);
		width: $cross-size;
		height: $stroke-width;
	}
}

$padding: 1em;
.row {
	width: 100%;
	padding: $padding $padding $padding ($cross-size + $padding);
	
	> .col {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin-right: 1em;
	}
	> .col.centered {
		text-align: center;
	}
}
#header {
	border-bottom: 3px solid black;
}
.paragraph {
	> .cross {
		position: absolute;
		left: $padding/2;
		top: $padding;
	}
	
	.translation {
	}
	.translation:last-of-type {
		margin: 0;
	}
	.translation.saved {
		outline: 3px solid #00cc18;
	}
	.translation.locked {
		background: #eee;
		
		textarea:not(:focus) {
			color: #ddd;
		}
	}
}

.paragraph:first-of-type {
	textarea {
		font-size: 1.5em;
		font-weight: 700;
	}
}
.paragraph:first-of-type + .paragraph {
	border-bottom: 3px dotted black;
}

.tail {
	display: none;
	text-align: center;
	padding: 1em 0;
}