.paragraph {
	width: 100%;
	padding: 1em;
}
.paragraph .translation {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 1em;
}
.paragraph .translation:last-of-type {
	margin: 0;
}
.paragraph .translation.locked {
	background: #eee;
}

.paragraph:first-of-type {
}
.paragraph:first-of-type + .paragraph {
	border-bottom: 3px dotted black;
}

.paragraph:first-of-type textarea {
	font-size: 1.5em;
	font-weight: 700;
}

.translation.saved {
	outline: 3px solid #00cc18;
}